<html>

<head>

  <title>Credo Debug Log</title>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

  <!-- Don't use this in production: -->
  <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>


  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">

  <style>
    * {
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    .timeline {
      position: relative;
      margin-bottom: 20px;

      font-size: 12px;
      color: #aaa;
    }

    .timeline__row {
      padding: 3px;
      border-bottom: 1px solid #e5e5e5;

      display: flex;
    }

    .timeline__col {
      position: relative;
      flex: 1;
      border-right: 1px solid #e5e5e5;
    }

    .timeline__col--graph {
      flex: 5;
    }

    .timeline__span {
      position: absolute;
      height: 6px;
      background-color: deepskyblue;
      border-radius: 2px;
    }

  </style>
</head>

<body>

  <h1>Credo Debug Log</h1>

  <p>
    Analysis in
    <code>
      <%= File.cwd! %>
    </code> took
    <%= @time_total %> ms (<%= @time_load %> ms to load, <%= @time_run %> ms running checks)
  </p>

  <div id="root"></div>

  <h2>Task Timings</h2>
  <p>
    This shows the timings for individual tasks (which are the building blocks of Credo's execution).
  </p>

  <table class="timing-data js-timing-data-tasks">
    <thead>
      <th>Time (ms)</th>
      <th>Tags</th>
      <th>Duration (ms)</th>
    </thead>
  </table>

  <h2>Check Timings</h2>

  <p>
    This shows the accumulated timings for individual checks.
  </p>

  <table class="timing-data js-timing-data-checks-accumulated">
    <thead>
      <th>Time (ms)</th>
      <th>Tags</th>
      <th>Duration (ms)</th>
    </thead>
  </table>

  <script>
    let state;
    /*  */
    state = {
      started_at: <%= @started_at %>,
      ended_at: <%= @ended_at %>,
      duration: <%= @duration %>,
      timings: <%= Jason.encode!(@all_timings, pretty: true) %>
    };

    const datasetTasks =
      state.timings
      .filter((x) => x.tags.task) // && x.tags.task.match(/MainProcess/))
      .map(({
        tags,
        started_at,
        duration
      }) => [Math.floor((started_at - state.started_at) / 1000), JSON.stringify(tags), Math.floor(duration / 1000)]);

    const checkTimingsAsObject =
      state.timings
      .filter((x) => x.tags.check)
      .reduce((acc, val) => {
        const tag_name = "check"
        const key = val.tags[tag_name];
        if (!acc[key]) {
          acc[key] = {
            tags: {
              accumulated: true
            },
            started_at: null,
            duration: 0
          };
          acc[key]["tags"][tag_name] = val.tags[tag_name];
        }
        acc[key].duration += val.duration;

        return acc;
      }, Object.create(null));

    const datasetChecks =
      Object.values(checkTimingsAsObject)
      .map(({
        tags,
        started_at,
        duration
      }) => ["", JSON.stringify(tags), Math.floor(duration / 1000)]);

    $(document).ready(function () {
      $('.js-timing-data-tasks').DataTable({
        data: datasetTasks
      });
      $('.js-timing-data-checks-accumulated').DataTable({
        data: datasetChecks,
        "order": [
          [2, "desc"]
        ]
      });
    });

  </script>

  <script type="text/babel">
    class App extends React.Component {
      round(val) {
        return Math.round(val * 1000) / 1000;
      }

      render() {
        console.log(this.props)
        let {started_at, ended_at, duration, timings} = this.props.state;

        timings = timings.filter((x) => x.tags.task && x.tags.task.match(/MainProcess/));

        return <div className="timeline">
          {timings.map((timing) =>
            <div className="timeline__row">
              <div className="timeline__col timeline__col--graph">
                <div className="timeline__span" title={JSON.stringify(timing.tags)} style={{left: this.round((timing.started_at - started_at) / duration * 100) + '%', width: this.round(timing.duration / duration * 100) + '%'}}>
                </div>
              </div>
            </div>
          )}
        </div>;
      }
    }

    ReactDOM.render(
      <App state={state}/>,
      document.getElementById('root')
    );

  </script>

</body>

</html>
