name: "CI Tests"
on:
  push:
    branches:
      - master
      - release/*
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    name: "[${{matrix.otp}}/${{matrix.elixir}}] CI Tests on Credo [OTP/Elixir]"
    strategy:
      matrix:
        otp: [20.3, 21.3, 22.2, 23]
        elixir: [1.7.4, 1.8.2, 1.9.4, 1.10.4, 1.11.0]
        exclude:
          - otp: 23
            elixir: 1.7.4
          - otp: 23
            elixir: 1.8.2
          - otp: 23
            elixir: 1.9.4
          - otp: 20.3
            elixir: 1.10.4
          - otp: 20.3
            elixir: 1.11.0
    steps:
      - uses: actions/checkout@v2.3.1
        with:
          fetch-depth: 0
      - uses: actions/setup-elixir@v1.3
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
      - run: mix deps.get
      - run: mix deps.compile
      - run: mix compile --warnings-as-errors
      - run: mix test
      - run: ./test/smoke_test.sh
