name: "CI Tests"

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    name: "[${{matrix.otp}}/${{matrix.elixir}}] CI Tests on Credo [OTP/Elixir]"
    strategy:
      fail-fast: false
      matrix:
        include:
          - otp: 18.3.4.11
            elixir: 1.5.3
          - otp: 19.3.6.13
            elixir: 1.6.6
          - otp: 19.3.6.13
            elixir: 1.7.4
          - otp: 20.3.8.26
            elixir: 1.8.2
          - otp: 20.3.8.26
            elixir: 1.9.4
          - otp: 21.3.8.16
            elixir: 1.10.3
          - otp: 23.0.2
            elixir: 1.10.3
    steps:
      - uses: actions/checkout@v2.3.1

      - uses: actions/setup-elixir@v1.3
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}

      - run: mix deps.get --only test

      - run: mix deps.compile

      - run: mix compile

      - run: mix compile --warnings-as-errors
        env:
          MIX_ENV: test

      - run: ./test/smoke_test.sh

  compile_with_no_warnings:
      - uses: actions/checkout@v2.3.1

      - uses: actions/setup-elixir@v1.3
        with:
          otp-version: 23.0.2
          elixir-version: 1.10.3

      - run: mix deps.get

      - run: mix compile --warnings-as-errors

  check_formatting:
      - uses: actions/checkout@v2.3.1

      - uses: actions/setup-elixir@v1.3
        with:
          otp-version: 23.0.2
          elixir-version: 1.10.3

      - run: mix format --check-formatted
