name: "Compatibility: Elixir"
on:
  push:
    branches:
      - master
      - release/*

jobs:
  test_on_source:
    runs-on: ubuntu-24.04
    if: "!contains(github.event.head_commit.message, 'ci skip') && !contains(github.event.head_commit.message, 'skip ci')"
    name: "Elixir ${{matrix.elixir}} OTP ${{matrix.otp}} - Credo running on Elixir ${{matrix.repo_branch}} source code"
    strategy:
      fail-fast: false
      matrix:
        repo_url: ["https://github.com/elixir-lang/elixir.git"]
        repo_branch: ["v1.18", "v1.19", "main"]
        otp: [25.3, 26.2, 27.3]
        elixir: [1.15.7, 1.16.2, 1.17.3, 1.18.4, 1.19.3]
        exclude:
          - elixir: 1.15.7
            otp: 27.3
          - elixir: 1.16.2
            otp: 27.3
          - elixir: 1.19.3
            otp: 25.3
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
      - run: mix deps.get
      - run: mix deps.compile
      - run: mix compile
      - run: mkdir -p tmp
      - run: git clone ${{matrix.repo_url}} tmp/${{matrix.repo_branch}} --depth=1 --branch ${{matrix.repo_branch}}
      - run: mix credo tmp/${{matrix.repo_branch}} --strict --mute-exit-status
